* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #2e7182;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.header__top {
    height: 38px;
    padding-top: 10px;
    border-bottom: 1px solid #2e7182;
}

.header__bottom {
    height: 68px;
    padding-top: 3px;
    border-bottom: 1px solid #2e7182;
}

.text__header-bottom {
    font-size: 24px;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.img {
    margin-right: 20px;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.menu {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.submenu {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}

.submenu li {
    font-size: 90%;
}

.icon-marker {
    cursor: pointer;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.choose_city {
    margin-left: 48px;
    margin-bottom: 10px;
}

.main_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main_menu__item {
    padding: 10px 0;
}

.menu_item__left {
    margin-left: -60px;
}

.main_menu:last-child {
    grid-column-start: 3;
    grid-column-end: 4;
}

.hidden {
    visibility: hidden;
}